/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@font-face {
    font-family: 'Cera Pro';
    src: 
        url('../src/assets/fonts/CeraPRO/CeraPro-Regular.woff') format('woff'),
        url('../src/assets/fonts/CeraPRO/CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: 
        url('../src/assets/fonts/CeraPRO/CeraPro-Medium.woff') format('woff'),
        url('../src/assets/fonts/CeraPRO/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: 
        url('../src/assets/fonts/CeraPRO/CeraPro-Bold.woff') format('woff'),
        url('../src/assets/fonts/CeraPRO/CeraPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}